*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    width: 100%;
    height: 100%;
    padding: 30px 60px;
}
.back-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
<<<<<<< Updated upstream
nav {
=======

/*---navigation bar*/
.nav-bar {
>>>>>>> Stashed changes
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.546);
}
<<<<<<< Updated upstream
img {
    width: 10rem;
    
}
ul {
=======
.nav-bar ul {
>>>>>>> Stashed changes
    top: -1rem;
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: rgba(128, 110, 119, 0.737);
    border-radius: 8px;
    position: relative;
}
<<<<<<< Updated upstream
li {
    list-style: none;
    padding: 5px  25px;
=======
.nav-bar li {
    list-style: none;
}
.nav-bar a {
    text-decoration: none;
    padding: 5px 25px;
>>>>>>> Stashed changes
    color: #fff;
    font-weight: 900;
    z-index: 1;
    cursor: pointer;
    position: relative;
}
.nav-animate {
    position: absolute;
    left: -20%;
    height: 100%;
    background: linear-gradient(45deg, #c8519e, #370d73d2);
    z-index: 0;
    border-radius: 8px;
    transition: .5s;
<<<<<<< Updated upstream
}   
li:nth-child(1):hover ~ .nav-animate {
    left: 0;
    width: 24%;
}
li:nth-child(2):hover ~ .nav-animate {
    left: 25%;
    width: 22%;
}
li:nth-child(3):hover ~ .nav-animate {
    left: 48%;
    width: 20%;
}
li:nth-child(4):hover ~ .nav-animate {
    left: 68%;
    width: 32%;
}
h1 {
=======
}
li:nth-child(1):hover~.nav-animate {
    left: 0;
    width: 24%;
}
li:nth-child(2):hover~.nav-animate {
    left: 25%;
    width: 22%;
}
li:nth-child(3):hover~.nav-animate {
    left: 48%;
    width: 20%;
}
li:nth-child(4):hover~.nav-animate {
    left: 68%;
    width: 32%;
}
.nav-bar h1 {
>>>>>>> Stashed changes
    top: -2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.692);
    -webkit-text-stroke: 3px #fff;
    line-height: 20px;
}
<<<<<<< Updated upstream
p {
    font-weight: 250;
    font-size: 1.5rem;
}
=======

.nav-bar .toggleBtn {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}


/*---Dropdown Menu---*/
.dropDown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    height: 0;
    width: 300px;
    background: rgba(58, 54, 56, 0.897);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropDown_menu .open{
    height: 240px;
}
.dropDown_menu li {
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
}



/*---Content---*/
>>>>>>> Stashed changes
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}
.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
    background-color: rgba(58, 54, 56, 0.897);
    border-radius: 5px;
    font-weight: 250;
    font-size: 1.5rem;
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 120px;
    background: linear-gradient(30deg, #63c3ec, #f88aa0);
    border-radius: 2px;
}
.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 120px;
    background: linear-gradient(30deg, #63c3ec, #f88aa0);
    border-radius: 2px;
    margin: 10px;
}
.buttons button {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    background: linear-gradient(#fff);
    border: none;
    border-radius: 5px;
    color: rgb(69, 7, 40);
}

.buttons button:hover {
    color: azure;
    background: linear-gradient(45deg, #f5a0b1, #7b31e367);
    left: -20%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
    transition: 0.5s;
}

/*---Game section---*/
.board {
    display: flex;
    flex-direction: column;
    background: rgba(58, 54, 56, 0.897);
    border-radius: 5px;
}
.grid {
    display: grid;
    flex-wrap: wrap;
    padding: 10px;
}
.square {
    width: 25px;
    height: 25px;
    background: #ffff ;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square img {
    height: auto;
    max-width: 75%;
}
.square.discovered {
    background: linear-gradient(45deg, #f5a0b1, #7b31e367);
}
.square:hover {
    background: linear-gradient(45deg, #f5a0b1, #7b31e367);
}
.buttons {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
<<<<<<< Updated upstream
.buttons button {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    background: linear-gradient(#fff) ;
    border: none;
    border-radius: 5px;
    color:rgb(69, 7, 40);
}
.buttons button:hover {
    color:rgb(199, 240, 240);
    background: linear-gradient(45deg, #f5a0b1, #7b31e367) ;
    left: -20%;
    height: 100%;
    z-index: 0;
    border-radius: 8px;
    transition: 0.5s;
}
=======

>>>>>>> Stashed changes
.newGame {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.newGame select {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
}

<<<<<<< Updated upstream
=======
/*Responsive*/
@media screen and (max-width: 900px) {
    .nav-bar .links {
        display: none;
    }
    .nav-bar .toggleBtn {
        display: block;
    }
    .nav-bar .dropDown_menu {
        display: block;
    }
}
>>>>>>> Stashed changes
